<div class="container mx-auto mt-5">
    <h1 class="text-2xl font-bold mb-4">Connexion avec Email et Mot de Passe</h1>

    <div>
      <input [(ngModel)]="email" type="email" placeholder="Email" class="border border-gray-300 rounded-md p-2 mb-3 w-full" />
      <input [(ngModel)]="password" type="password" placeholder="Mot de passe" class="border border-gray-300 rounded-md p-2 mb-3 w-full" />

      <button (click)="signIn()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Se connecter</button>
    </div>

    <div *ngIf="user" class="mt-4">
      <p>Utilisateur connecté: {{ user.email }}</p>
    </div>

    <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-3">
      <p>{{ error }}</p>
    </div>

    <a routerLink="/app-register" class="text-blue-500 hover:text-blue-800">
        Pas encore inscrit? Inscrivez-vous ici.
    </a>
  </div>
