<div class="max-w-sm rounded overflow-hidden shadow-lg" [ngStyle]="{ backgroundColor: getColor() }">
    <div class="px-6 py-4 justify-items-center">
        <img [src]="oneFriendImage" alt="">
      <div class="font-bold text-xl mb-2" [ngClass]="oneFriendStatus == 'OFF' ? 'amiOff' : 'amiOn'" >{{ oneFriendName }}</div>
      <p>Status : {{ getOneFriendStatus() }}</p>
      <p>Age : {{ oneFriendAge }} </p>
      <p class="text-gray-700 text-base">
        {{ oneFriendBio }}
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#mobutu</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#pivotgang</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#realmadrid</span>
    </div>
  </div>
