<div class="container mt-5">
    <div class="card mx-auto shadow-lg max-w-lg">
        <div class="row g-0">
            <div class="col-md-4 text-center bg-gray-100 flex items-center justify-center">
                <img
                    [src]="(user?.photoURL ?? 'https://picsum.photos/200/300')"
                    alt="User Profile"
                    class="rounded-full w-36 h-36 object-cover"
                />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-blue-500">{{ user?.displayName || 'Utilisateur anonyme' }}</h5>
                    <p class="card-text">
                        <strong>UID :</strong> {{ user?.uid }}
                    </p>
                    <p class="card-text">
                        <strong>Email :</strong> {{ user?.email || 'Non disponible' }}
                    </p>
                    <p class="card-text">
                        <strong>Téléphone :</strong> {{ user?.phoneNumber || 'Non disponible' }}
                    </p>
                    <p class="card-text">
                        <strong>Meta Data :</strong>
                        <br />
                        <small class="text-gray-500">Créé le : {{ user?.metadata?.creationTime ?? 'Date non disponible' }}</small>
                        <br />
                        <small class="text-gray-500">Dernière connexion : {{ user?.metadata?.lastSignInTime ?? 'Date non disponible' }}</small>
                    </p>
                    <p class="text-right">
                        <button class="btn btn-outline-primary btn-sm">Modifier le profil</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
