<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex items-center px-2 lg:px-0">
          <div class="shrink-0">
            <a routerLink="/home"><img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"></a>
          </div>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a routerLink="/home" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Accueil</a>
              <div class="dropdown h-8">
                <select
                  id="menu"
                  name="menu"
                  class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                  (change)="onNavigate($event)"
                >
                  <option value="" disabled selected>TP</option>
                  <option value="/app-data-binding">TP Data-Binding</option>
                  <option value="/app-directives">TP Directives</option>
                  <option value="/app-communication">TP Communications</option>
                  <option value="/app-observable">TP Observable</option>
                </select>
              </div>
              <div class="dropdown h-8">
                <select
                  id="menu"
                  name="menu"
                  class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                  (change)="onNavigate($event)"
                >
                  <option value="" disabled selected>Cours et exos</option>
                  <option value="/app-list-friends">Liste d'amis</option>
                  <option value="/app-blog-control-center">Blog</option>
                  <option value="/app-pokemon-list">Pokédex</option>
                  <option value="app-profile-manager">Profile Manager</option>
                  <option value="/app-pipes">Pipes</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- Recherche -->
        <div class="flex flex-1 justify-center px-2 lg:ml-6 lg:justify-end mr-4">
          <div class="grid w-full max-w-lg grid-cols-1 lg:max-w-xs">
        <input type="search" name="search" aria-label="Search" class="col-start-1 row-start-1 block w-full rounded-md bg-gray-700 py-1.5 pl-10 pr-3 text-base text-white outline-none placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:placeholder:text-gray-400 sm:text-sm/6" placeholder="Recherche">
        <svg class="pointer-events-none col-start-1 row-start-1 ml-3 size-5 self-center text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <!-- Profil -->
        <div class="relative">
          <span class="inline-block size-8 overflow-hidden rounded-full bg-gray-100 cursor-pointer" (click)="toggleDropdown()">
            <svg class="size-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </span>
          <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded-md shadow-lg z-20">
            <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
              <a routerLink="/app-register" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Inscription</a>
              <a routerLink="/app-login" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Se connecter</a>
            </ng-container>
            <ng-template #loggedInTemplate>
              <button (click)="logout()" class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-200">Se déconnecter</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">Dashboard</a>
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
      </div>
      <div class="border-t border-gray-700 pb-3 pt-4">
        <div class="flex items-center px-5">
          <div class="shrink-0">
            <img class="size-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-white">Tom Cook</div>
            <div class="text-sm font-medium text-gray-400">tomexample.com</div>
          </div>
          <button type="button" class="relative ml-auto shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
            </svg>
          </button>
        </div>
        <div class="mt-3 space-y-1 px-2">
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Your Profile</a>
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
  
